appdata/
bin/
Файлы для запуска игры/

gamedata/ai/
gamedata/anims/
gamedata/levels/
gamedata/meshes/
gamedata/shaders/
gamedata/sounds/
gamedata/spawns/
gamedata/textures/
gamedata/levels/
gamedata/levels/
gamedata/levels/

*.exe
..dat
*.xr
